<div class="select-item-color">
	<div class="select-item-color__label">
		Цвет:<span class="select-item-color__text">фиалковый</span>
	</div>
	<div class="select-item-color__colors clearfix">
		<div class="select-item-color__item select-item-color__item--current js-select-item-color" style="background-color:#369" data-color-name="серый">
			
		</div>
		<div class="select-item-color__item js-select-item-color" style="background-color:#555" data-color-name="бурый">
			
		</div>
		<div class="select-item-color__item js-select-item-color" style="background-color:#999" data-color-name="малиновый">
			
		</div>
		<div class="select-item-color__item js-select-item-color" style="background-color:#123" data-color-name="красный">
			
		</div>
	</div>
</div>