.input-wrap{
  input{
    display: block;
    float: left;
    font-weight: 400;
    font-style: normal;
    color: #868686;
    text-align: left;
    line-height: normal;
    border:1px solid rgba(211, 217, 222, 1);
    padding-left: 50px;
    height: 35px;
    width: 100%;
    font-size: 13px;
    padding: 0px 10px;
    //@include transition(0.12s linear all);
    @include border-radius(3px);    
  }

  &__input-icon{
    position: absolute;
    top: 9px;
    left: 9px;
    font-size: 15px;
    color: #909090;
  }
  &--has-btn{
    input{
      @include border-radius(3px 0px 0px 3px); 
    border-right: 0px;
    }
  }

  input+&__input-btn{
    .ajax-loader{
        @include centerme();
      }
  }

  &--has-btn-exclude-mobile{
    input{
      @include breakpoint(xs){
        @include border-radius(3px);  
      }      
    }
  }

  &--with-icon{
    input{
      padding-left: 30px;
    }
  }

  &__input-btn{
    position: absolute;
    top:0px;
    right:0px;
    @include border-radius(0px 3px 3px 0px !important); 
    height:35px;
    padding: 0px 10px;
    padding-top: 10px; 
  }
  &__text-before{
    position: absolute;
    color: #999999;
  }
  &--has-text-before{
    input{
      padding-left: 20px;  
    }
  }

  input+.error{
    display: block;
    font-size: 13px;
    padding-left: 10px;
    padding-top: 5px;
    color: #ff5454;
  }

}





