<div class="value-control {{class}} clearfix">
	<div class="value-control__minus value-control__minus--disabled">&mdash;</div>
	<input type="text" maxlength="{{maxlength ? maxlength : '3'}}" value="1">
	<div class="value-control__plus">+</div>
</div>